.navContainer {
  display: flex;
  align-items: center;
  position: sticky;
  height: 100px;
  width: 1760px;
  z-index: 100;
  top: 0;
  left: 0;
  gap: 0;
  padding: 0 5rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.85;
}

.leftNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1px;
}

.rightNav {
  display: flex;
  align-items: center;
  margin-right: 1px;
  text-align: center;
}

.buttonNeonHome {
  border-radius: 15px;
  position: relative;
  padding: 15px 20px;
  text-decoration: none;
  border-width: 0;
  overflow: hidden;
  transition: 0.5s;
  background: transparent;
  margin-left: -10%;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
}
.buttonNeonHome:hover {
  background: rgb(13, 255, 0);
  box-shadow: 0 0 10px rgb(0, 255, 0), 0 0 40px rgb(0, 255, 0),
    0 0 rgb(0, 255, 0);
  transition-delay: 0.2s;
}

.buttonNeonFavs {
  font-family: fantasy;
  position: relative;
  padding: 15px 20px;
  color: #fff;
  letter-spacing: 6px;
  font-size: 45px;
  text-decoration: none;
  border-width: 0;
  overflow: hidden;
  transition: 0.5s;
  background: transparent;
  margin-left: 35px;
  max-width: 150px;
  min-width: 150px;
  max-height: 50px;
  min-height: 50px;
}
.buttonNeonFavs:hover {
  background: rgb(13, 255, 0);
  box-shadow: 0 0 10px rgb(0, 255, 0), 0 0 40px rgb(0, 255, 0),
    0 0 80px rgb(0, 255, 0);
  transition-delay: 0.2s;
}

.buttonNeonAbout {
  font-family: fantasy;
  position: relative;
  display: block;
  padding: 15px 20px;
  color: #fff;
  letter-spacing: 6px;
  font-size: 45px;
  text-decoration: none;
  border-width: 0;
  overflow: hidden;
  transition: 0.5s;
  background: transparent;
  max-width: 150px;
  min-width: 150px;
  max-height: 50px;
  min-height: 50px;
  margin-right: 50px;
}
.buttonNeonAbout:hover {
  background: rgb(13, 255, 0);
  box-shadow: 0 0 10px rgb(0, 255, 0), 0 0 40px rgb(0, 255, 0),
    0 0 80px rgb(0, 255, 0);
  transition-delay: 0.2s;
}

.buttonNeonLog {
  border-radius: 15px;
  position: relative;
  padding: 15px 20px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 40px;
  align-items: center;
  text-decoration: none;
  border-width: 0;
  overflow: hidden;
  transition: 0.5s;
  background: transparent;
  margin-left: 10px;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
}
.buttonNeonLog:hover {
  background: red;
  box-shadow: 0 0 10px rgb(200, 23, 20), 0 0 40px rgb(200, 23, 20),
    0 0 80px rgb(200, 23, 20);
  transition-delay: 0.2s;
}
