.formContainer {
    filter: brightness(3);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    opacity: 1;
    height: 40vh;
  }


.credencial{
    display: flex;
    flex-direction: column  ;
    position: relative;
    align-items: center;
    margin: 50px;
    color: black;
    font-family: monospace;
    font-weight: 900;
    font-size: 45px;
    text-shadow: 1px 1px 2px rgb(0, 3, 6);
    width: 300px;
}

.credencial input{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius:none ;
    border: none;
    border-bottom: solid rgb(0, 0, 0) 1px;
    border-bottom-width: 3px ;
    color: rgb(0, 0, 0);
    margin: 10px 0;
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}

.credencial input::placeholder{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.credencial input:focus {
    outline: none;
}

.credencial span {
    font-family: monospace;
    text-shadow: none;
    font-size: large;
    font-weight: 900;
    color: red;
}

.submitButton{
    position: relative;
    left: 0px;
    border-radius: 5px;
    border: solid rgb(0, 255, 0) 1px;
    background: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    font-size: 20px;
    max-width: 200px;
    min-width: 200px;
    max-height: 50px;
    min-height: 50px;
    margin-top: 5px;
}

.submitButton:hover{
    box-shadow: inset 0 0 10px rgb(0, 255, 0);
    font-size: 20px;
}
