.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginButton {
  border-radius: 100px;
  border: transparent;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 90px;
  font-family:fantasy;
  width: auto;
  height: auto;
  margin-top: 23px;
  cursor: pointer;
  position: relative;
  text-shadow: 1px 1px 2px rgb(255, 225, 0), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

.loginButton:hover {
  color: #00ff40;
  transform: scale(1.5);
}

.formContainer {
  background-image: url("../../../../public/portalpng.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  align-items: center;
  height: 500px;
  width: 500px;
  position: relative;
  opacity: 1;
  filter: brightness(1.2);
  border-radius: 100%;
  background-color: black;
}
